In [ ]:
#!pip freeze > requirements.txt

In [ ]:
!pip install -r requirements.txt

# Preparazione del dataset

## Questo notebook ha il seguente obiettivo:  

a partire dal file di dati input ***heart_failure_clinical_records_dataset.train.csv***  

creare e scrivere su disco due file CSV: ***train.scv*** e ***test.csv***, che dovranno contenere i rispettivi dati di train e test che verranno utilizzati nel notebook di training

### Librerie utilizzate

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

Carichiamo il dataset

In [2]:
clinical_data = pd.read_csv('heart_failure_clinical_records_dataset.train.csv')

### Analisi preliminare del dataset

In [3]:
clinical_data.describe()

,DEATH_EVENT,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
count,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000
mean,0.297071,61.059975,0.435146,577.083682,0.405858,38.263598,0.351464,262427.450209,1.387364,136.418410,0.644351,0.313808,132.297071
std,0.457927,11.999013,0.496817,946.937475,0.492088,11.651161,0.478430,94272.495618,0.994975,4.440152,0.479714,0.465013,78.350857
min,0.000000,40.000000,0.000000,23.000000,0.000000,15.000000,0.000000,47000.000000,0.500000,113.000000,0.000000,0.000000,4.000000
25%,0.000000,52.000000,0.000000,111.500000,0.000000,30.000000,0.000000,212500.000000,0.900000,134.000000,0.000000,0.000000,73.500000
50%,0.000000,60.000000,0.000000,245.000000,0.000000,38.000000,0.000000,263000.000000,1.100000,137.000000,1.000000,0.000000,119.000000
75%,1.000000,69.500000,1.000000,582.000000,1.000000,45.000000,1.000000,303500.000000,1.400000,139.000000,1.000000,1.000000,205.500000
max,1.000000,95.000000,1.000000,7861.000000,1.000000,80.000000,1.000000,742000.000000,9.000000,146.000000,1.000000,1.000000,285.000000

In [4]:
clinical_data.head()

,DEATH_EVENT,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,1,75.000,1,246,0,15,0,127000.00,1.20,137,1,0,10
1,1,75.000,0,99,0,38,1,224000.00,2.50,134,1,0,162
2,1,60.667,1,104,1,30,0,389000.00,1.50,136,1,0,171
3,0,52.000,0,132,0,30,0,218000.00,0.70,136,1,1,112
4,1,94.000,0,582,1,38,1,263358.03,1.83,134,1,0,27

In [5]:
clinical_data.tail()

,DEATH_EVENT,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
234,0,60.667,1,151,1,40,1,201000.00,1.0,136,0,0,172
235,0,58.000,0,582,1,35,0,122000.00,0.9,139,1,1,71
236,0,55.000,0,748,0,45,0,263000.00,1.3,137,1,0,88
237,0,44.000,0,582,1,30,1,263358.03,1.6,130,1,1,244
238,0,80.000,0,898,0,25,0,149000.00,1.1,144,1,1,87

In [6]:
clinical_data.shape

(239, 13)

#### Controlliamo se ci sono valori nulli

In [7]:
clinical_data.isnull().any().any()

False

In [8]:
clinical_data['DEATH_EVENT'].value_counts()

0    168
1     71
Name: DEATH_EVENT, dtype: int64

In [9]:
clinical_data.isnull().any()

DEATH_EVENT                 False
age                         False
anaemia                     False
creatinine_phosphokinase    False
diabetes                    False
ejection_fraction           False
high_blood_pressure         False
platelets                   False
serum_creatinine            False
serum_sodium                False
sex                         False
smoking                     False
time                        False
dtype: bool

#### Controlliamo quante distinte classi ci sono per ciascuna feature

In [10]:
clinical_data.nunique()

DEATH_EVENT                   2
age                          47
anaemia                       2
creatinine_phosphokinase    175
diabetes                      2
ejection_fraction            16
high_blood_pressure           2
platelets                   153
serum_creatinine             38
serum_sodium                 26
sex                           2
smoking                       2
time                        132
dtype: int64

In [11]:
clinical_data.dtypes

DEATH_EVENT                   int64
age                         float64
anaemia                       int64
creatinine_phosphokinase      int64
diabetes                      int64
ejection_fraction             int64
high_blood_pressure           int64
platelets                   float64
serum_creatinine            float64
serum_sodium                  int64
sex                           int64
smoking                       int64
time                          int64
dtype: object

### Split del Dataset

#### Individuiamo target e feature

In [12]:
y=clinical_data['DEATH_EVENT']
X=clinical_data.drop('DEATH_EVENT', axis=1)

#### Split dei dati

In [13]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.2, random_state=0)

#### Riconcateniamo tutti i dati con target e feature

In [14]:
training_set = pd.concat([X_train,y_train], axis=1)
test_set = pd.concat([X_test,y_test], axis=1)

#### Procediamo ora con la creazione e la scrittura su disco dei file train.csv e test.csv

In [15]:
training_set.to_csv('train.csv', index=False)

In [16]:
test_set.to_csv('test.csv', index=False)